<footer class="footer">
  <div class="footer-content">
    <div class="footer-brand">
      <img src="/images/logo.png" alt="Maysa" />
      <p>{{ 'FOOTER.BRAND' | translate }}</p>
    </div>

    <div class="footer-contact">
      <div class="footer-contact-item">
        <strong>{{ 'FOOTER.LOCATION' | translate }}</strong>
        <span>{{ 'FOOTER.CITY' | translate }}</span>
      </div>

      <div class="footer-contact-item">
        <strong>{{ 'FOOTER.EMAIL' | translate }}</strong>
        <a href="mailto:info@maysamasajes.com">info@maysamasajes.com </a>
      </div>

      <div class="footer-contact-item">
        <strong>{{ 'FOOTER.INSTA' | translate }}</strong>
        <a
          href="https://www.instagram.com/maysamasajes/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram Maysa"
        >
          <i class="bi bi-instagram"></i>
          @maysamasajes
        </a>
      </div>

      <div class="footer-contact-item">
        <strong>{{ 'FOOTER.PHONE' | translate }}</strong>
        <a href="tel:+34611821056"> +34 611 821 056 </a>
      </div>

      <a class="footer-whatsapp" href="https://wa.me/34611821056" target="_blank">
        {{ 'FOOTER.WHATSAPP' | translate }}
      </a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>{{ 'FOOTER.CLOSE' | translate }}</p>
  </div>
</footer>
