<section class="features">
  <div class="feature">
    <img src="/images/loto.png" alt="Premium"/>
    <h3>EXPERIENCIA PREMIUM</h3>
    <p>
      Un entorno exclusivo diseñado para el bienestar y la relajación.
    </p>
  </div>

  <div class="divider"></div>
  <div class="feature">
    <img src="/images/hoja.png" alt="Productos"/>
    <h3>PRODUCTOS SELECTOS</h3>
    <p>
      Aceites y productos cuidadosamente seleccionados para cada experiencia.
    </p>
  </div>

  <div class="divider"></div>
  <div class="feature">
    <img src="/images/buda.png" alt="Profesionales"/>
    <h3>PROFESIONALES CUALIFICADAS</h3>
    <p>
      Profesionales con experiencia dedicadas a ofrecer un servicio expcepcional.
    </p>
  </div>

  <div class="divider"></div>
  <div class="feature">
    <img src="/images/candado.png" alt="Privacidad"/>
    <h3>DISCRECIÓN ABSOLUTA</h3>
    <p>
      Tu privacidad, comodidad y confidencialidad son siempre nuestra prioridad.
    </p>
  </div>
</section>
