<section class="features">
  <div class="feature">
    <img src="/images/loto.png" alt="Premium"/>
    <h3>{{ 'FEATURES-CARD.H3_1' | translate }}</h3>
    <p>
      {{ 'FEATURES-CARD.P1' | translate }}
    </p>
  </div>

  <div class="divider"></div>
  <div class="feature">
    <img src="/images/hoja.png" alt="Productos"/>
    <h3>{{ 'FEATURES-CARD.H3_2' | translate }}</h3>
    <p>
      {{ 'FEATURES-CARD.P2' | translate }}
    </p>
  </div>

  <div class="divider"></div>
  <div class="feature">
    <img src="/images/buda.png" alt="Profesionales"/>
    <h3>{{ 'FEATURES-CARD.H3_3' | translate }}</h3>
    <p>
      {{ 'FEATURES-CARD.P3' | translate }}
    </p>
  </div>

  <div class="divider"></div>
  <div class="feature">
    <img src="/images/candado.png" alt="Privacidad"/>
    <h3>{{ 'FEATURES-CARD.H3_4' | translate }}</h3>
    <p>
      {{ 'FEATURES-CARD.P4' | translate }}
    </p>
  </div>
</section>
