{% extends 'base.html.twig' %}

{% block title %}Edit Complement{% endblock %}

{% block body %}
    <h1>Edit Complement</h1>

    {{ include('complement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_complement_index') }}">back to list</a>

    {{ include('complement/_delete_form.html.twig') }}
{% endblock %}
