<section class="hero">
  <img src="/images/hero.jpeg" class="hero-image" alt="Maysa Luxury Massages" />
  <div class="overlay"></div>
  <div class="hero-content">
    <h1>
      LUXURY <br />
      WELLNESS & <br />
      RELAXATION
    </h1>
    <div class="section-divider">
      <span></span>
      <i>✧</i>
      <span></span>
    </div>
    <h4>{{ 'HERO.H4' | translate }}</h4>
    <div class="hero-buttons">
      <a
        class="transparent-btn"
        href="https://wa.me/34611821056?text=Hola,%20me%20gustaría%20reservar%20una%20experiencia%20Maysa"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ 'HERO.A' | translate }}
      </a>
      <button class="transparent-btn" routerLink="/experiences" routerLinkActive="active">
        {{ 'HERO.BUTTON' | translate }}
      </button>
    </div>
  </div>
</section>
