<section class="collections-carousel">
  <div
    id="carousel1"
    class="carousel slide"
    data-bs-ride="carousel"
    data-bs-interval="5000"
    data-bs-pause="false"
  >
  
    <!-- Imagenes -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="/images/maysaCollections.png"
          alt="maysaCollectionsCarrosel1"
          class="d-block w-100"
        />
        <div class="carousel-caption-custom">
          <h2>MAYSA COLLECTIONS</h2>
          <p>{{ 'CARROUSEL.P1' | translate }}</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="/images/wellnessCollection.png"
          alt="maysaCollectionsCarrosel2"
          class="d-block w-100"
        />
        <div class="carousel-caption-custom">
          <h2>WELLNESS COLLECTION</h2>
          <p>{{ 'CARROUSEL.P2' | translate }}</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="/images/sensualCollection.png"
          alt="maysaCollectionsCarrosel3"
          class="d-block w-100"
        />
        <div class="carousel-caption-custom">
          <h2>SENSUAL COLLECTION</h2>
          <p>{{ 'CARROUSEL.P3' | translate }}</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="/images/luxuryCollection.png"
          alt="maysaCollectionsCarrosel4"
          class="d-block w-100"
        />
        <div class="carousel-caption-custom">
          <h2>LUXURY COLLECTION</h2>
          <p>{{ 'CARROUSEL.P4' | translate }}</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="/images/couplesCollection.png"
          alt="maysaCollectionsCarrosel5"
          class="d-block w-100"
        />
        <div class="carousel-caption-custom">
          <h2>COUPLE COLLECTION</h2>
          <p>{{ 'CARROUSEL.P5' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>