<section class="why-maysa">
  <div class="why-content">
    <h2>{{ 'WHY-MAYSA.H2' | translate }}</h2>

    <p class="section-subtitle">
      {{ 'WHY-MAYSA.P1' | translate }}
    </p>

    <div class="why-items">
      <div class="why-item">
        <h5>{{ 'WHY-MAYSA.H5' | translate }}</h5>
        <p>
          {{ 'WHY-MAYSA.P2' | translate }}
        </p>
      </div>

      <div class="why-item">
        <h5>{{ 'WHY-MAYSA.H5_2' | translate }}</h5>
        <p>
          {{ 'WHY-MAYSA.P3' | translate }}
        </p>
      </div>
    </div>
    <div class="why-items">
      <div class="why-item">
        <h5>{{ 'WHY-MAYSA.H5_3' | translate }}</h5>
        <p>
          {{ 'WHY-MAYSA.P4' | translate }}
        </p>
      </div>

      <div class="why-item">
        <h5>{{ 'WHY-MAYSA.H5_4' | translate }}</h5>
        <p>
          {{ 'WHY-MAYSA.P5' | translate }}
        </p>
      </div>
    </div>
  </div>

  <div class="why-image">
    <img src="/images/whyMaysa.jpeg" alt="¿Por qué elegir Maysa?" />
  </div>
</section>
