<section class="why-maysa">
  <div class="why-content">
    <h2>¿POR QUÉ ELEGIR MAYSA?</h2>

    <p class="section-subtitle">
      Más que un masaje, una experiencia diseñada para reconectar cuerpo, mente y sentidos.
    </p>

    <div class="why-items">
      <div class="why-item">
        <h5>Experiencia premium</h5>
        <p>
          Cada detalle está cuidadosamente preparado para ofrecer un ambiente exclusivo, elegante y
          pensado para tu bienestar.
        </p>
      </div>

      <div class="why-item">
        <h5>Bienestar personalizado</h5>
        <p>
          Adaptamos cada tratamiento a tus necesidades para que disfrutes de una experiencia única y
          completamente personalizada.
        </p>
      </div>
    </div>
    <div class="why-items">
      <div class="why-item">
        <h5>Privacidad y confianza</h5>
        <p>
          Garantizamos un entorno íntimo, seguro y discreto para que solo tengas que preocuparte por
          relajarte.
        </p>
      </div>

      <div class="why-item">
        <h5>Excelencia en cada detalle</h5>
        <p>
          Desde la atención personalizada hasta la selección de productos premium, todo está pensado
          para superar tus expectativas.
        </p>
      </div>
    </div>
  </div>

  <div class="why-image">
    <img src="/images/whyMaysa.jpeg" alt="¿Por qué elegir Maysa?" />
  </div>
</section>
